@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator Page";
}

@model CalculatorModel;


<!--Grade Calculator-->
<div class="center">
    <fieldset>
        <legend class="center">Grade Calculator</legend>
        <form method="post">
            <br />
            <label for="assignment">Assignments</label>
            <input id="assignment" type="number" asp-for="Assignments" value="" /><br /><br />
            <label for="groupproject">Group Projects</label>
            <input id="groupproject" type="number" asp-for="Groupprojects" value="" /><br /><br />
            <label for="quiz">Quizzes</label>
            <input id="quiz" type="number" asp-for="Quizzes" value="" /><br /><br />
            <label for="midterm">Midterm Exam</label>
            <input id="midterm" type="number" asp-for="Midterms" value="" /><br /><br />
            <label for="final">Final Exam</label>
            <input id="final" type="number" asp-for="Final" value="" /><br /><br />
            <label for="intex">INTEX</label>
            <input id="intex" type="number" asp-for="Intex" value="" /><br /><br />
            <input class="center" id="calculate" type="submit" value="Calculate" />
        </form>
        <br />
        <div asp-validation-summary="All"></div>
        <h4 class="center " id="grade"></h4><br /><br />

    </fieldset>
</div>
<!--Jquery and my js code-->
<script src="~/js/gradeCalc.js"></script>
