@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@ViewBag["Title"] = "Tanner's Index";


<div class="center">
    <!--Header with my name-->
    <h1>Tanner Greenwood</h1>
</div><br />
<!--Picture of what I like to do-->
<div class="center">
    <img width="25%" height="25%" src="img/tannerdeadlift.png" />
</div>
<br /><br />

<!--Paragragh on what I hope to get out of IS 413-->
<h3 class="center">What I hope to get out of IS 413</h3>
<div class="center" width="50%">
    <p>
        I hope to learn how to code in C# and as well become proficient in making web applications.
        I had learned how to make them earlier in Python/Django, but I would like for it to be much more second
        nature. I hope to learn about how to implement much more into my web applications, like APIs, things to
        make purchasing possible in a web application, how to implement signing into and creating accounts and ensuring
        the security of that information. I also hope to become much more proficient in the more complex logic of
        coding and web development.
    </p>
</div>
<!--Top 3 Jobs-->
<h3 class="center">My Top 3 Jobs After Graduation:</h3>
<ol>
    <li class="center">Software Engineer</li>
    <li class="center">Data Analyst</li>
    <li class="center">Systems Analyst</li>
</ol>


